extends layout

block content
    #contentPhotography
        if data
            if data.img
                for item in data.img
                        .tile.lazy(data-original="#{data.path}#{item.fileName}" title="#{item.name}" onclick="showImageInFullScreen('#{data.path}#{item.fileName}')")
            for key,index in Object.keys(data)
                if key != "img" && key!= "subtitle" && key!= "path" && key!= "order"
                    .tile
                        div(onclick="redirectToPhoto('#{key}')") #{key}
                    for item in data[key].img
                        .tile.lazy(data-original="#{data[key].path}#{item.fileName}" title="#{item.name}" onclick="showImageInFullScreen('#{data[key].path}#{item.fileName}')")
        - var klass = (pix && data.img)?"visibleBlock":""
        .popBG.opacity50(class=klass)
        .popContent(class=klass)
            #popImg
                #imgHere
                    if pix && data.img
                        img(src='#{data.path}#{data.img[parseInt(pix)-1].fileName}')
                i.fa.fa-compress
                #popBot
                    h2= title
                    .floatRight
                        div 2014 All rights reserved &copy; Juan David Montero
                        include share

